<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" lang="en">
<head th:replace="base :: head-source"></head>

<body class="list-back" >
<nav th:replace="base :: main-navbar"></nav>


<div class="container p-5 bg-light" align="center">

    <div class="emptySpace"></div>


    Day: <h4 th:text="${fruit.day.dayName}"></h4><br/>
    Fruit: <h4 th:text="${fruit.fruitName}"></h4><br/>
    <!--Image: <span th:text="${fruit.image}"></span>-->
    <div th:if="${fruit.image} != null">
        <img th:src="${fruit.image}" alt="Pictue of sandwhich">
    </div>
    <br/>

    <a class="text-info" href="/">Show All Fruits</a><br/>
</div>

</body>
</html>